/* Навигация */

header {
  background-color: #6b4f3b;
  padding: 10px 0;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: #fdf6ec;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #d4a373;
}

.nav-link.active {
  border-bottom: 2px solid #d4a373;
}




body {
  font-family: system-ui, sans-serif;
  text-align: center;
  padding: 2rem;
  background: #f4f6fb;
}

h1 {
  color: #333;
}

.controls {
  margin-bottom: 1.5rem;
}

select, input[type="date"], button {
  margin: 0 0.5rem;
  padding: 0.4rem 0.7rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #0056b3;
}

table {
  margin: 1rem auto;
  border-collapse: collapse;
  width: 80%;
  background-color: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

td, th {
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
}

th {
  background-color: #007bff;
  color: white;
}
